<header class="header">
  <div class="header__container">
    <div class="header__column">
      {% include './../components/logo.twig' %}

      <ul class="socials" data-da=".menu__wrapper, 479.98">
        {% for social in socials[:3] %}
        <li>
          <a href="{{ social.link }}" class="socials__link">
            <svg width="16" height="16">
              <use href="{{ social.icon }}"></use>
            </svg>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="menu__backdrop"></div>

    <div class="menu__wrapper">
      <nav class="menu">
        <ul class="menu__list">
          {% for nav in navigation %}
          <li>
            <a
              href="{{ nav.link }}"
              class="menu__link
              {{ nav.title == title ? 'menu__link--current' : '' }}"
              >{{ nav.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>

      <button
        class="cart-btn"
        type="button"
        data-da=".header__buttons, 1129.98, 0"
      >
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-cart"></use>
        </svg>

        <div class="cart-btn__qty">0</div>
      </button>

      {% include './../components/link-btn.twig' with {'text': 'Order today',
      'link': './store.html', 'classes': 'button--sm'} %}
    </div>

    <div class="header__buttons header__column">
      <button class="burger">
        <span></span>
      </button>
    </div>
  </div>
</header>
